[Unit]
Description=Pinball et Circensis
After=network.service

[Service]
WorkingDirectory=/home/pi/pinball_circensis/hardware/raspberry-pi
ExecStart=/home/pi/pinball_circensis/venv/bin/python pinball.py
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
