[submodule "adcieqipt20241-Karolzinha-e-Loulou-avadakedavra"]
	path = adcieqipt20241-Karolzinha-e-Loulou-avadakedavra
	url = https://github.com/ederson-torresini/adcieqipt20241-Karolzinha-e-Loulou-avadakedavra
[submodule "adcieqipt20241-huntersofancientbeasts-jogo"]
	path = adcieqipt20241-huntersofancientbeasts-jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-huntersofancientbeasts-jogo
[submodule "adcieqipt20241-vitorhlmm-Jogo"]
	path = adcieqipt20241-vitorhlmm-Jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-vitorhlmm-Jogo
[submodule "adcieqipt20241-Thuthu-e-Aninha-jogo"]
	path = adcieqipt20241-Thuthu-e-Aninha-jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-Thuthu-e-Aninha-jogo
[submodule "adcieqipt20241-vimdoalegrete-jogo"]
	path = adcieqipt20241-vimdoalegrete-jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-vimdoalegrete-jogo
[submodule "adcieqipt20241-nlentertainment-jogo"]
	path = adcieqipt20241-nlentertainment-jogo
	url = https://github.com/ederson-torresini/adcieqipt20241-nlentertainment-jogo
[submodule "adcipt20242-n-k-corporeichom-Misterios-do-amor-"]
	path = adcipt20242-n-k-corporeichom-Misterios-do-amor-
	url = https://github.com/ederson-torresini/adcipt20242-n-k-corporeichom-Misterios-do-amor-
[submodule "adcipt20232-Projeto-PATO-Alem-das-Montanhas"]
	path = adcipt20232-Projeto-PATO-Alem-das-Montanhas
	url = https://github.com/ederson-torresini/adcipt20232-Projeto-PATO-Alem-das-Montanhas
[submodule "rescue-run"]
	path = rescue-run
	url = https://github.com/Higan-Studio/rescue-run
